#main_container {
    background-color: rgb(223, 217, 217);
}
/* 
.expansion-panel-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */
.test {
    font-weight: bold;
}

.event-name{
    font-size: 25px;
    font-weight: bold;
    margin: 2px;
    padding: 0;
    color: rgb(70, 67, 67);
}

.expansion-panel-details {
    display: flex;
    justify-content: space-between;
    width: 93vw;
}

.event-info {
    font-size: 20px;
}

.event-date {
    font-size: 12px;
    color: grey;
    margin: 2px;
    padding: 0;
}

.MuiSvgIcon-root {
    padding-left: 10px;
}

#add_event_button {
    background-color: #6AC27E;
    color: white;
}

#add_event_panel_summary {
    background-color: #6AC27E;
    border-radius: 10px;
}

#add_event_panel_summary p {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
}

.MuiInputBase-root {
    margin: 7px;
    width: 88vw;
}

/* .MuiButtonBase-root {
    width: 88vw;
} */

.my-class-name {
    color: red
}